body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}


.container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.teste{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

nav a:hover {
    color: #FF5733; /* Cor de destaque ao passar o mouse (pode ser personalizada) */
}

header {
    background-color: #FFC300; /* Cor de fundo do cabeçalho (pode ser personalizada) */
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

input[type="submit"] {
    background-color: #FFC300;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #FF5733;
}

input[type="reset"] {
    background-color: #FFC300;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="reset"]:hover {
    background-color: #FF5733;
}

.form-group input[type="submit"],
.form-group input[type="reset"] {
    display: inline-block;
    width: calc(20% - 5px);
    margin-right: 5px;
}


.example-input {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.example-text {
    margin-right: 10px;
    font-weight: bold;
}

#data_nascimento {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    appearance: none; /* Remove a seta de seleção */
}
